api/src/main/resources/schema/records.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="records">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="record">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="accountNumber" type="xs:string" />
                            <xs:element name="description" type="xs:string" />
                            <xs:element name="startBalance" type="xs:decimal" />
                            <xs:element name="mutation" type="xs:decimal" />
                            <xs:element name="endBalance" type="xs:float" />
                        </xs:sequence>
                        <xs:attribute name="reference" type="xs:unsignedInt" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
